<h1>{{title}}</h1>
<p>Please enter your email and password to create a new MyMoney account.</p>

<form onsubmit="signup()" action="javascript:void(0);">
    <div class="form-floating mb-3">
        <input name="email" id="email" type="email" class="form-control">
        <label for="email">Email</label>
    </div>

    <div class="form-floating mb-3">
        <input name="password" id="password" type="password" class="form-control">
        <label for="password">Password</label>
    </div>
        
    <input type="submit" class="btn btn-primary" value="Sign up">
</form>

<script>
    // Function to set cookies from https://www.w3schools.com/js/js_cookies.asp
    function setCookie(cname, cvalue, exdays) { // takes the cookie name, cookie value, and expiration days values
        const d = new Date(); // today
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000)); // set expiration time to today + number of specified days converted to milliseconds
        let expires = "expires="+d.toUTCString();  // expirtaion date string

        console.log(cname + "=" + cvalue + ";" + expires + ";path=/");

        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/;secure"; // set cookie with name, value and expiration date
    }

    //signup function
    function signup() {
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;

        const auth = firebaseApp.auth(); // initialize firebase auth

        firebase.auth().createUserWithEmailAndPassword(email, password) // attempt firebase signup
            .then((userCredential) => {
                // Signed in 
                var user = userCredential.user; // get new user's details
                
                console.log(userCredential.user.email); // log user email

                user.getIdToken(true).then((token) => { // get token of new user
                    if (token) {
                        // save the login token as a cookie (we'll use this information to only show the user's information)
                        document.cookie = `token=${token}`;
                        document.location.href = '../'; // relocate to homepage
                    }
                });
            })
            .catch((error) => {
                var errorCode = error.code;
                var errorMessage = error.message;
                
                console.log(error); // log error
            });
    }
</script>